html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Arial, serif;
}

.map {
	width: 100%;
	height: 90%;
	overflow: scroll;
	position: relative;
}

.map svg {
	position: absolute;
	top: 0;
	left: 0;
}

.map svg circle {
	opacity: 0.3;
}

.controls {
	height: 10%;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.slider {
	display: inline-block;
	width: 500px;
}

.text {
	display: inline-block;
	margin-left: 20px;
	min-width: 50px;
}

.checkboxes {
	display: inline-block;
	margin-left: 50px;
}

.checkboxes div {
	display: inline-block;
	padding: 2px 5px;
}

.checkboxes div input {
	vertical-align: middle;
}

.checkboxes div label {
	padding: 0 5px;
	font-weight: bold;
	color: white;
	vertical-align: middle;
}

.checkboxes .line1 {
	background: #D32838;
}

.checkboxes .line2 {
	background: #217FBC;
}

.checkboxes .line3 {
	background: #0B9957;
}

.checkboxes .line4 {
	background: #DB6F22;
}

.checkboxes .line5 {
	background: #6B2373;
}

.checkboxes .line6 {
	background: #8D5B2D;
}